<!DOCTYPE html>
<html>
<head>
    {% block title %}<title>Web Travel Guide</title>{% endblock %}
    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.chocolate.js' %}"></script>
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <!-- Javascript to view different images -->
    <script>
        $(function () {
            $('body').chocolate({
                images: ['/static/images/{{ LANGUAGE_CODE }}/image1.jpg', '/static/images/{{ LANGUAGE_CODE }}/image2.jpg', '/static/images/{{ LANGUAGE_CODE }}/image3.jpg'],
                interval: 4000,
                speed: 2000,
            });
        });
    </script>

</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="main_menu">

    <!-- Menu -->
    <div id='cssmenu'>

        <ul class="outer">

            <li id="pass" style="padding-left: 40px; padding-right: 60px;">
                <h3 class="menu-text" style="display: inline-block; margin-top: 13px;">{{ sign_in }}</h3>
            </li>

            <li class='last' style="padding-left: 10px;">
                <img id="travel" src="{% static url_1 %}"
                     style="width: 40px; height: 40px; margin-top: -15px; ">
                <h3 class="menu-text" style="display: inline-block">{{ bookings }}</h3>
            </li>

            <li class='has-sub' style="padding-left: 10px;">
                <img id="first_icon" src="{% static url_2 %}" style="width: 40px; height: 40px; margin-top: -15px;">
                <h3 class="menu-text" style="display: inline-block">{{ destinations }}</h3>

                <ul>
                    <li class='has-sub'><a href='#'><span>Product 1</span></a></li>
                    <li class='has-sub'><a href='#'><span>Product 2</span></a></li>
                </ul>

            </li>

            <li style="padding-left: 10px;">
                <h3 class="menu-text" style="display: inline-block; margin-top: 13px;">{{ title }}</h3>
            </li>

            <div style="padding-left: 100px">
                <!-- Search Bar -->
                <img src="{% static 'images/search.png' %}"
                     style="width: 28px; height: 28px; margin-top: 10px; padding-right: 25px">
                <input id="search" type="text" placeholder="{{ placeholderText }}">
            </div>


        </ul>

    </div>

    <!-- Logo -->
    <div class="logo_area" style="z-index: 1000">
        <img src="{% static 'images/SiteLogo.png' %}" style="z-index: 100">
    </div>

    <div style="width: 500px; position: absolute; margin-top: 300px; left: 32.5%; margin-left: 100px; background: rgba(0,191,255, 0.4);">

        <h1 style="text-align: center; z-index: 1000; color: white; font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif; font-size: 60px;">
            {{ slogan }}
        </h1>

    </div>

    <div id="language-drop-down" style="float: right; z-index: 100; margin-top: 300px; padding-right: 50px;">
        <!-- Current Language Message -->
        <h1 id="current_language"
            style="float: top; font-family: 'Arial Rounded MT Bold'; font-size: 20px; background: white; border-radius: 25px; width: 30px; text-align: center">{{ LANGUAGE_CODE }}</h1>

        <!-- Language Drop Down Menu -->
        <form action="{% url 'set_language' %}" method="post">

            {% csrf_token %}
            <input type="hidden" name="text" value="{{ redirect_to }}">

            <select name="language" id="">

                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>

                {% endfor %}

            </select>

            <input type="submit" value="Go">

        </form>
    </div>

</div>

{% if LANGUAGE_CODE == "zh-cn" %}
    <div class="footer-main-div" style="display: none;">
{% else %}
    <div class="footer-main-div" style="display: block;">
{% endif %}

<div id="icons">
    <div class="bottom_logo_area"><img src="{% static 'images/SiteLogo.png' %}" style="width: 100%;"></div>

    <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
</div>

<div class="footer-menu-one">
    <ul>
        <li><a href="#"></a>About us</li>
        <li><a href="#"></a>Contact us</li>
        <li><a href="#"></a>Terms & conditions</li>
        <li><a href="#"></a>Privacy policy</li>
    </ul>
</div>

</div>

</body>
</html>